[submodule "KNUT_webchat_frontend"]
	path = front
	url = https://github.com/KNUT-webstudygroup/KNUT_webchat_frontend.git
[submodule "KNUT_webchat_Backend"]
	path = server
	url = https://github.com/KNUT-webstudygroup/KNUT_webchat_Backend.git
